<div class="container">
  <div
    #videoWrapper
    class="video-wrapper"
  ></div>

  <div class="osd">
    <div class="top left">
      <div class="info-line">
        <mat-icon aria-hidden="false">
          sports_esports
        </mat-icon>
        <div [class]="gamepadService.gamepadConnected ? 'info-dot green': 'info-dot red'"></div>
      </div>

      <div class="info-line">
        <mat-icon aria-hidden="false">
          flight
        </mat-icon>
        <div [class]="droneStateService.droneState?.connected ? 'info-dot green': 'info-dot red'"></div>
      </div>
    </div>
    <div class="top right">

      <div class="info-line">
        <div [class]="droneStateService.droneState?.streamServerStarted ? 'info-dot green': 'info-dot red'"></div>
        <mat-icon
          aria-hidden="false"
          fontSet="material-icons-outlined"
        >
          dns
        </mat-icon>
      </div>
      <div class="info-line">
        <div [class]="droneStateService.droneState?.streaming ? 'info-dot green': 'info-dot red'"></div>
        <mat-icon
          aria-hidden="false"
          fontSet="material-icons-outlined"
        >
          cast
        </mat-icon>
      </div>
    </div>
    <div class="bottom left">
      <div class="info-line">
        <mat-icon aria-hidden="false">
          battery_full
        </mat-icon>
        {{ droneStateService.droneState?.bat }}%

      </div>
    </div>
    <div class="bottom right"></div>



  </div>
</div>