:host {
  .container {
    height: 100%;
    width: 100%;
    position: absolute;

    .video-wrapper {
      height: 100%;
      height: 100%;
    }

    .osd {
      z-index: 1;
      height: 100%;
      width: 100%;
      top: 0;
      position: absolute;
      color: white;

      > div {
        position: absolute;
        // width: 10px;
        // height: 10px;
        // background-color: green;
      }

      .left {
        left: 0;
      }

      .top {
        top: 0;
      }

      .bottom {
        bottom: 0;
      }

      .right {
        right: 0;
      }

      .info-line {
        display: flex;
      }
    }
  }

  .info-dot {
    width: 18px;
    height: 18px;
    display: inline-block;
    align-self: center;
    border-radius: 50%;

    &.green {
      background-color: lime;
    }

    &.red {
      background-color: red;
    }
  }
}
